@model ParticipantViewModel
@{
    ViewData["Title"] = "Participant";
}

<div class="text-center">
    <h1>Participant</h1>

    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Email</p>
</div>
