@using Planner.Presentation.Models.Appointments;
@model NewAppointmentViewModel
@{
    ViewData["Title"] = "New Appointment";
}

<div class="text-center">
    <h1>New Appointment</h1>

    @Html.EditorForModel()
</div>
